.number-humanizer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.floating-panel {
    position: absolute;    
    height: 80%;
    margin: 100px;
    border: solid 1px lightgray;
    -webkit-box-shadow: 5px 5px lightgray;
    padding: 40px;

    -moz-transition: opacity, left 0.5s linear;
    transition: opacity, left 0.5s linear;    
}

.input-container {
    width: 65%;
    left: -65%;
}


.input-container .validation-summary-errors {
    color: red;
    display: block;
    padding-bottom: 10px;
}

.input-container textarea:focus:invalid, .input-container input:focus:invalid{
    border: 1px solid red;
}

.input-container.active {
    left: 0%;
}

.output-container {
    left: 70%;
    width: 70%;    
}

.output-container.active {
    left: 5%;
}

.output-container__number {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}
