.number-humanizer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.floating-panel {
    position: absolute;    
    height: 80%;
    margin: 100px;
    border: solid 1px lightgray;
    -webkit-box-shadow: 5px 5px lightgray;
    padding: 40px;
}

.input-container {
    width: 65%;
    left: -40%;
}

.input-container.active {
    left: 0%;
}

.output-container {
    left: 70%;
    width: 70%;    
}

.output-container.active {
    left: 30%;
}
