@{
    ViewBag.Title = "Home Page";
}

<div class="number-humanizer">
    <div class="input-container floating-panel active">
        @Html.Partial("Partials/InputPanel")        
    </div>
    <div class="output-container floating-panel invisible">
        @Html.Partial("Partials/OutputPanel")        
    </div>
</div>
