@*<div class="output-container__username">
   <h3>Hey, [Username]</h3>
</div>

<a href="#" class="output__tryagain">Try Again</a>

<div class="output__number-container">
    <h2>Your number is:</h2>
    <div class="output__number"></div>
</div>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="output-container__username">Hey, [username]</h1>
            <div class="output-container__number">Lorem Ipsum Doler</div>
            <div>
                <button class="btn tryagain btn-default btn-info">Try Again</button>
            </div>
        </div>
    </div>
</div>
